.galleryContent{
	display: flex;
	flex-direction: column;
	padding: 2%;
}

.galleryHeader{
	display: flex;
	flex-direction: column;
}
.galleryHeader h4, .galleryHeader h2{
	margin: 0;
}
.galleryHeader h4{
	color: var(--offblack2)
}
.galleryGrid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 1%;
	width: 100%;
	align-self:center;
}

.galleryItem, .gridPost{
	display: flex;
	flex-direction: column;
	width: 100%;
	aspect-ratio: 1;
	box-sizing: border-box;
	padding: unset;
	height: 100%;
	gap: 2%;
	background: none;
	border: none;
	text-decoration: none;
	color: black;

}

.galleryItem img {
	height: 100%;
	object-fit: cover;

}

.galleryItem:hover img {

	transition: ease .5s;
}

@media screen and (max-width: 600px) {
	.galleryGrid {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));

	}
}