.lightbox {
    left: 0;
    top:0;
	width: 100%;
	height: 100%;
    position: fixed;
	display: flex;
	flex-direction: column;
	background-color: rgba(15, 15, 15, 75%);
	align-items: center;
	padding: 2%;
	box-sizing: border-box;
	justify-content: space-between;
}

.lightboxBody {
	width: 100%;
	height: min-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lightboxControls {
	width: 100%;
	height: 100%;
}

.lightboxImg {
	max-height: 100%;
	max-width: 100%;
	min-height: 0;
	box-sizing: border-box;
	padding: .5rem;
}
