.collectionsList {
	width: 100%;
	padding: 0 10%;
	box-sizing: border-box;
	display: grid;
	gap: 15%;
	flex-direction: column;
	list-style-type: none;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.collectionsList li {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;

}

.collectionItem {
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	width: 100%;
}



.collectionCover {
	width: 100%;
	display: flex;
	padding: 3%;
	box-sizing: border-box;
}

.collectionImage {
	width: 100%;
	aspect-ratio: 1;
	min-height: 0;
	object-fit: cover;
	object-position: 0 30%;

}

.card {
	border: 1px solid;
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	transform: translate(calc((1 - var(--i)) * -5px), calc((1 - var(--i)) * -5px));
	box-shadow: 2px 3px 3px;
	background: var(--offwhite);
	z-index: calc(var(--i)*-1);
	display: flex;
	flex-direction: column;
	transition: linear .2s;
}

.collectionItem:hover .card {
	transform: translate(calc((1 - var(--i)) * -10px), calc(((1 - var(--i)) * -10px)));
}

.topCard {
	position: relative;
}

@media screen and (max-width: 600px) {
	.collectionsList {
		grid-template-columns: repeat(2, minmax(0,1fr));
	}
}