
/* General CSS*/
body {
	--background: #5fdb79;
	--foreground: #213c28;
	--offwhite: #d5f3d8;
	--accent1: #cd6dbb;
	--offblack: #213c28;
	background: linear-gradient(to bottom, var(--background) 33%, var(--offwhite)) ;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	padding:0;
	margin: 0;
	height: 100%;
}


.header {
	width: 100%;
	background: var(--background);
	position: sticky;
	top: 0;
	display:flex;
	flex-direction: column;
	z-index: 25;
}
.header hr{
	margin: 0;
}

.header ul {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	list-style: none;
	padding: unset;

	
}

.header hr{
	margin: 0;
}

.link{
	text-decoration: none;
	color: var(--foreground);
	
}

.active{
	color: var(--accent1);
	background: var(--offwhite);
	padding: 15%;
	border-radius: 20px;
	
}


.pageContent{
	padding: 8;
	width: 100%;
	box-sizing: border-box;
}

.content {
	height: 100%;
	width:100%;
}

.ageContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-content: center;
}

.ageBlocker {
	display: flex;
	width: 50%;
	flex-direction: column;
	border: solid .1rem;
	padding: 2%;
	gap: .5rem;
	align-self: center;
}

