body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	width: 100%;
}

.header ul {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	list-style: none;
	padding: unset;
}


.uploadInput {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2%;
	width: 100%;
}

.uploadInput input {
	width: 100%;
}

.content {
	height: 100%;
}

.uploadPage {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

.uploadForm {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10%;
	height: 100%;
	align-self: center;
}

.groupDataInput {
	display: flex;
	gap: 5%;
	width: 100%;
}

select {
	width: 100%;
}

.gridPost {
	display: flex;
	flex-direction: column;
	width: 100%;
	aspect-ratio: 1/ 1;
	box-sizing: border-box;
	padding: 2%;
	height: 100%;
	gap: 2%;
	background: none;
	border: none;
	text-decoration: none;
	color: black;
}

.galleryGrid {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	gap: 0.5%;
	width: 100%;
}

.gridPost img {
	height: 100%;
	object-fit: cover;
	transition: ease 2s;
}

.gridPost:hover img {
	object-fit: contain;
}

.ageContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-content: center;
}

.ageBlocker {
	display: flex;
	width: 50%;
	flex-direction: column;
	border: solid .1rem;
	padding: 2%;
	gap: .5rem;
	align-self: center;
}

.postGrid {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	gap: 0.5%;
	width: 100%;
	padding: 0;
}

.postHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.postHeader h4 {
	padding: 0;
	margin: 0;
}

.postDesc {
	height: 100%;
	max-height: 2rem;
	text-overflow: ellipsis;
	overflow: hidden;
	text-wrap: nowrap
		/*text-wrap: wrap;*/
}

.lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(15, 15, 15, 75%);
	align-items: center;
	padding: 2%;
	box-sizing: border-box;
	justify-content: space-between;
}

.lightboxBody {
	width: 100%;
	height: min-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lightboxControls {
	width: 100%;
	height: 100%;
}

.lightboxImg {
	max-height: 100%;
	max-width: 100%;
	min-height: 0;
	box-sizing: border-box;
	padding: .5rem;
}

.postBlock {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: space-around;
	gap: 5%;
	padding: 2%;
	box-sizing: border-box;
}

.postInfo {
	width: 100%;
}

.postContent,
.postContent img {
	max-width: 100%;
	min-height: 0;
	min-width: 0;
}

.postContent {
	display: flex;
	width: 100%;
	justify-content: center;
	max-height: 85vh;

}

.postContent img {
	max-height: 100%;
}

.homeCollectionsList {
	width: 100%;
	padding:0;
	display: flex;
	gap: 2%;
	flex-direction: column;
	list-style-type: none;
}

.homeCollectionsList li{
	width: 100%;
	text-align: center;
	
}

@media screen and (max-width: 600px) {
	.galleryGrid {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 0.5%;
		width: 100%;
	}

	.postGrid {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		gap: 0.5%;
		width: 100%;
		padding:0;
	}


	.postHeader {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;

	}

	.postBlock {
		flex-direction: column;
	}

}