.pillbox{
    display:flex;
    position:relative;
    flex-wrap:wrap;
    padding: 1%;
    gap: .5rem;
    width: 100%;

}

.pill{
    border-radius: 150px;
    border: solid 2px var(--accent1);
    box-shadow: 4px 4px var(--accent1);
    padding: 1%;
    gap: 2%;
    display: inline-block;
    align-items: center;
    white-space: nowrap;
}

.pill button{
    border: unset;
    background: unset;
}
.pill button:hover{
    cursor: pointer;
}

.test{
    background: red;
}