.uploadPage {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

.uploadInput {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2%;
	width: 100%;
}

.uploadInput input {
	width: 100%;
}

.uploadForm {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10%;
	height: 100%;
	align-self: center;
}

.groupDataInput {
	display: flex;
	gap: 5%;
	width: 100%;
}

.groupDataInput select{
	width: 100%;
}

