.uploadPage {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

.uploadPage input,
.uploadPage textarea {
	box-sizing: border-box;
}

.uploadInput {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2%;
	width: 100%;
}

.uploadInput input {
	width: 100%;

}

.uploadForm {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 4%;
	height: 100%;
	align-self: center;
	width: 66%;
}

.groupDataInput {
	display: flex;
	gap: 5%;
	width: 100%;
	flex-direction: column;
}

.groupDataInput select {
	width: 100%;
}

.groupSearcher {
	width: 100%;
}

.groupSelector {
	width: inherit;
	position: absolute;
	flex-direction: column;
	list-style-type: none;
	padding-inline-start: unset;
	z-index: 22;
	display: none;
}

.groupSelector button {
	width: 100%;
}